#title {
  font-family: "Satisfy", cursive;
}

#banner {
  margin-top: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.shoppingCar {
  color: darkgray;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#contItems{
    margin-left: 1em;
}

#navigation .nav {
  background-color: #333a40;
  padding: 20px;
}

#navigation .nav-link {
  color: lightgrey;
}

.centered {
  text-align: center;
}

.menuProduct {
  margin-top: 1em;
}

#menu .menuImage {
  width: 100%;
  height: 200px;
}

#order .pinkBtn{
  background-color: salmon;
  color: black;
  float: right;
  border-style: groove;
  border-radius: 5px;
}

#order .lightBtn{
  background-color: lightyellow;
  color: black;
  float: right;
  border-style: groove;
  border-radius: 5px;
  border: 2px solid black;
}

#footerText {
  margin-top: 2em;
  margin-bottom: 1em;
}
